In [18]:
%pip install pandas numpy matplotlib scikit-learn plotly

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.11/site-packages (2.1.4)
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.11/site-packages (1.26.4)
Requirement already satisfied: matplotlib in /opt/anaconda3/lib/python3.11/site-packages (3.9.2)
Requirement already satisfied: scikit-learn in /opt/anaconda3/lib/python3.11/site-packages (1.2.2)
Requirement already satisfied: plotly in /opt/anaconda3/lib/python3.11/site-packages (5.9.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: contourpy>=1.0.1 in /opt/anaconda3/lib/python3.11/site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.11/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/anaconda3/lib/python3.11/site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/anaconda3/lib/python3.11/site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /opt/anaconda3/lib/python3.11/site-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=8 in /opt/anaconda3/lib/python3.11/site-packages (from matplotlib) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/anaconda3/lib/python3.11/site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: scipy>=1.3.2 in /opt/anaconda3/lib/python3.11/site-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in /opt/anaconda3/lib/python3.11/site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/anaconda3/lib/python3.11/site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: tenacity>=6.2.0 in /opt/anaconda3/lib/python3.11/site-packages (from plotly) (8.2.2)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly as plot

In [20]:
data = pd.read_csv('/Users/mari/Documents/GitHub/refugeedisplacementanalysis/data/demographics-and-locations-of-forcibly-displaced-and-stateless-persons-global-1.csv')

/var/folders/pl/1bdjf8kd3ql31wdc294128xr0000gn/T/ipykernel_17827/4252001156.py:1: DtypeWarning: Columns (0,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('/Users/mari/Documents/GitHub/refugeedisplacementanalysis/data/demographics-and-locations-of-forcibly-displaced-and-stateless-persons-global-1.csv')

In [21]:
print(data)

              Year Country of Origin Code Country of Asylum Code  \
0       #date+year   #country+code+origin   #country+code+asylum
1             2001                    AFG                    AFG
2             2001                    AFG                    AFG
3             2001                    IRN                    AFG
4             2001                    IRQ                    AFG
...            ...                    ...                    ...
170114        2019                    UGA                    ZWE
170115        2019                    ZMB                    ZWE
170116        2019                    ZWE                    ZWE
170117        2019                    ZWE                    ZWE
170118        2019                    ZWE                    ZWE

            Country of Origin Name Country of Asylum Name  \
0             #country+name+origin   #country+name+asylum
1                      Afghanistan            Afghanistan
2                      Afghanistan            Afghanistan
3       Iran (Islamic Republic of)            Afghanistan
4                             Iraq            Afghanistan
...                            ...                    ...
170114                      Uganda               Zimbabwe
170115                      Zambia               Zimbabwe
170116                    Zimbabwe               Zimbabwe
170117                    Zimbabwe               Zimbabwe
170118                    Zimbabwe               Zimbabwe

                   Population Type  location  urbanRural  accommodationType  \
0       #indicator+population_type       NaN         NaN                NaN
1                              IDP       NaN         NaN                NaN
2                              RET       NaN         NaN                NaN
3                              REF       NaN         NaN                NaN
4                              REF       NaN         NaN                NaN
...                            ...       ...         ...                ...
170114                         REF       NaN         NaN                NaN
170115                         OOC       NaN         NaN                NaN
170116                         IDP       NaN         NaN                NaN
170117                         OOC       NaN         NaN                NaN
170118                         RET       NaN         NaN                NaN

                         Female 0-4  ...           Female Unknown  \
0       #affected+f+infants+age_0_4  ...  #affected+f+unknown_age
1                                 0  ...                        0
2                                 0  ...                        0
3                                 0  ...                        0
4                                 0  ...                        0
...                             ...  ...                      ...
170114                            0  ...                        0
170115                            0  ...                        0
170116                            0  ...                        0
170117                           10  ...                        0
170118                            0  ...                        0

             Female Total                     Male 0-4  \
0       #affected+f+total  #affected+m+infants+age_0_4
1                       0                            0
2                       0                            0
3                       0                            0
4                       5                            0
...                   ...                          ...
170114                  0                            0
170115                  5                            0
170116                  0                            0
170117                 85                           10
170118                  0                            0

                            Male 5-11                         Male 12-17  \
0       #affected+m+children+age_5_11  #affected+m+adolescents+age_12_17
1                                   0                                  0
2                                   0                                  0
3                                   0                                  0
4                                   0                                  0
...                               ...                                ...
170114                              0                                  0
170115                              0                                  0
170116                              0                                  0
170117                             21                                  5
170118                              0                                  0

                          Male 18-59             Male 60 or more  \
0       #affected+m+adults+age_18_59  #affected+m+elderly+age_60
1                                  0                           0
2                                  0                           0
3                                  0                           0
4                                  0                           0
...                              ...                         ...
170114                             8                           0
170115                             0                           0
170116                             0                           0
170117                             0                           0
170118                             0                           0

                   Male Unknown         Male Total                Total
0       #affected+m+unknown_age  #affected+m+total  #affected+all+total
1                             0                  0              1200000
2                             0                  0                26092
3                             0                  0                    0
4                             0                  0                    5
...                         ...                ...                  ...
170114                        0                  8                    8
170115                        0                  0                    5
170116                        0                  0               270000
170117                        0                 36                  121
170118                        0                  0                  132

[170119 rows x 24 columns]

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170119 entries, 0 to 170118
Data columns (total 24 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Year                    170119 non-null  object
 1   Country of Origin Code  169998 non-null  object
 2   Country of Asylum Code  170119 non-null  object
 3   Country of Origin Name  166000 non-null  object
 4   Country of Asylum Name  170108 non-null  object
 5   Population Type         170119 non-null  object
 6   location                0 non-null       float64
 7   urbanRural              0 non-null       float64
 8   accommodationType       0 non-null       float64
 9   Female 0-4              170119 non-null  object
 10  Female 5-11             170119 non-null  object
 11  Female 12-17            170119 non-null  object
 12  Female 18-59            170119 non-null  object
 13  Female 60 or more       170119 non-null  object
 14  Female Unknown          170119 non-null  object
 15  Female Total            170119 non-null  object
 16  Male 0-4                170119 non-null  object
 17  Male 5-11               170119 non-null  object
 18  Male 12-17              170119 non-null  object
 19  Male 18-59              170119 non-null  object
 20  Male 60 or more         170119 non-null  object
 21  Male Unknown            170119 non-null  object
 22  Male Total              170119 non-null  object
 23  Total                   170119 non-null  object
dtypes: float64(3), object(21)
memory usage: 31.1+ MB

In [23]:
data.head(10)

,Year,Country of Origin Code,Country of Asylum Code,Country of Origin Name,Country of Asylum Name,Population Type,location,urbanRural,accommodationType,Female 0-4,...,Female Unknown,Female Total,Male 0-4,Male 5-11,Male 12-17,Male 18-59,Male 60 or more,Male Unknown,Male Total,Total
0,#date+year,#country+code+origin,#country+code+asylum,#country+name+origin,#country+name+asylum,#indicator+population_type,NaN,NaN,NaN,#affected+f+infants+age_0_4,...,#affected+f+unknown_age,#affected+f+total,#affected+m+infants+age_0_4,#affected+m+children+age_5_11,#affected+m+adolescents+age_12_17,#affected+m+adults+age_18_59,#affected+m+elderly+age_60,#affected+m+unknown_age,#affected+m+total,#affected+all+total
1,2001,AFG,AFG,Afghanistan,Afghanistan,IDP,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,1200000
2,2001,AFG,AFG,Afghanistan,Afghanistan,RET,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,26092
3,2001,IRN,AFG,Iran (Islamic Republic of),Afghanistan,REF,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0
4,2001,IRQ,AFG,Iraq,Afghanistan,REF,NaN,NaN,NaN,0,...,0,5,0,0,0,0,0,0,0,5
5,2001,IRN,ALB,Iran (Islamic Republic of),Albania,REF,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0
6,2001,IRQ,ALB,Iraq,Albania,REF,NaN,NaN,NaN,0,...,0,0,0,0,0,7,0,0,7,7
7,2001,MKD,ALB,Republic of North Macedonia,Albania,ASY,NaN,NaN,NaN,0,...,0,8,0,0,0,21,0,0,21,29
8,2001,MKD,ALB,Republic of North Macedonia,Albania,REF,NaN,NaN,NaN,0,...,0,6,0,0,0,0,0,0,0,6
9,2001,MDA,ALB,Republic of Moldova,Albania,ASY,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
data.drop(data.index[0], inplace=True)
data.head()

,Year,Country of Origin Code,Country of Asylum Code,Country of Origin Name,Country of Asylum Name,Population Type,location,urbanRural,accommodationType,Female 0-4,...,Female Unknown,Female Total,Male 0-4,Male 5-11,Male 12-17,Male 18-59,Male 60 or more,Male Unknown,Male Total,Total
1,2001,AFG,AFG,Afghanistan,Afghanistan,IDP,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,1200000
2,2001,AFG,AFG,Afghanistan,Afghanistan,RET,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,26092
3,2001,IRN,AFG,Iran (Islamic Republic of),Afghanistan,REF,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0
4,2001,IRQ,AFG,Iraq,Afghanistan,REF,NaN,NaN,NaN,0,...,0,5,0,0,0,0,0,0,0,5
5,2001,IRN,ALB,Iran (Islamic Republic of),Albania,REF,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0